@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(31, 31, 31);
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
}

.topbar {
    background-color: #3b3b3b;
    overflow: hidden;
    
}

.bottombar {
    background-color: #3b3b3b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottombar {
    background-color: #3b3b3b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; /* Adjust padding as needed */
}

.bottombar .social-icons {
    display: flex;
}

.bottombar .social-icons a i {
    color: #fff;
    transition: all 0.7s ease;
}

.bottombar .social-icons a i:hover {
    color: lightskyblue;
    transition: all 0.5s ease;
}

.bottombar p {
    color: white;
    text-align: right;
    margin: 0;
    padding-right:25px;
}

.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#Title {
    text-align: center;
}

p {
    text-align: center;
}

.fa-brands {
    padding: 10px; /* Adjust the padding as needed */
    color: white;
    font-size: 30px;
}

.topbar a:hover {
    color:lightskyblue;
    transition: all 1s ease
}

.topbar .selected {
    color: lightskyblue
}

canvas{ display: block; } /* ---- particles.js container ---- */ #particles{ position:absolute; width: 100%; height: 90%;}

