@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@500&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
}

.topbar {
    background-color: #3b3b3b;
    overflow: hidden;
}

.bottombar {
    background-color: #3b3b3b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottombar {
    background-color: #3b3b3b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; 
}

.bottombar .social-icons {
    display: flex;
}

.bottombar p {
    color: white;
    text-align: right;
    margin: 0;
    padding-right:25px;
}

.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#Title {
    text-align: center;
}

p {
    text-align: center;
}

.bottombar .social-icons a i {
    color: #fff;
    transition: all 0.7s ease;
}

.bottombar .social-icons a i:hover {
    color: lightskyblue;
    transition: all 0.5s ease;
}

.fa-brands {
    padding: 10px;
    color: white;
    font-size: 30px;
}

.topbar a:hover {
    color:lightskyblue;
    transition: all 1s ease
}

.topbar .selected {
    color: lightskyblue
}

.signupFrame {
    text-align: center;
    justify-content: center;
  flex-direction: column;
}

input {
    margin-bottom: 7px;
    text-align: center;
}

.signupFrame {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.signupFrame input[type="email"],
.signupFrame input[type="text"],
.signupFrame input[type="password"] {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
}

.signupFrame input[type="submit"] {
    margin: 14px 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #434343;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}

.signupFrame input[type="submit"]:hover {
    background-color: #1c1c1c;
    transition: all 0.25s ease;
}

.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container i:hover {
    color: #000;
}