@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@500&display=swap');

* {
    font-family: 'Kanit', sans-serif;
   
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
    
}

body {
    margin: 0;
    background-color: rgb(31, 31, 31);
}

body > *:not(.loader) {
    display: none;
} 


.topbar {
    background-color: #3b3b3b;
    overflow: hidden;
}

.bottombar {
    background-color: #3b3b3b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottombar {
    background-color: #3b3b3b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; 
}

.bottombar .social-icons {
    display: flex;
}

.bottombar p {
    color: white;
    text-align: right;
    margin: 0;
    padding-right:25px;
    background-color: #3b3b3b;
}

.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #3b3b3b;
}
#Title {
    text-align: center;
}

p {
    text-align: center;
}

.bottombar .social-icons a i {
    color: #fff;
    background-color: #3b3b3b;
    transition: all 0.7s ease;
}

.bottombar .social-icons a i:hover {
    color: lightskyblue;
    transition: all 0.5s ease;
}

.fa-brands {
    padding: 10px;
    color: white;
    font-size: 30px;
}

p#login a {
    color:white;
    transition: all 0.5s ease;
}
p#login a:hover {
    color: rgb(179, 179, 179);
    transition: all 0.5s ease;
}

.topbar a:hover {
    color:lightskyblue;
    transition: all 1s ease
}

.topbar .selected {
    color: lightskyblue
}

.signupFrame {
    text-align: center;
    justify-content: center;
  flex-direction: column;
}

input {
    margin-bottom: 7px;
    text-align: center;
}

.signupFrame {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.signupFrame input[type="email"],
.signupFrame input[type="text"],
.signupFrame input[type="password"] {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
}

.signupFrame input[type="submit"] {
    margin: 14px 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    transition: all 0.25s ease;
}

.signupFrame input[type="submit"]:hover {
    background-color: #b2b2b2;
    transition: all 0.25s ease;
}

.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
}

.password-container i.light-theme {
    color: white;
}
.password-container i.dark-theme {
    color: black
}

.password-container i:hover {
    color: #ffffff;
}