<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolious - 404 Error</title>
    <link href="/styles/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/216730d71d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="topbar">
        <a id="Home" href="/">Home</a>
        <a id="Login">Log in</a>
        <a id="Signup">Sign up</a>
    </div>

    <div class="error-404">
        <h1 style="text-align: center;">Error 403</h1>
        <p>The portfolios are brainstorming. They believe you don't have access to view this. I think they're right 🤔</p>
    </div>

    <div class="bottombar">
        <div class="social-icons">
            <a href="https://twitter.com/DevCmb"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://github.com/29cmb/Portfolious"><i class="fa-brands fa-github"></i></a>
        </div>
        <p>Cmb Productions</p>
    </div>
</body>
</html>
