<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="../js/universal/check.js"></script>
    <script>
        runLoginCheck(); //TODO: move this to the main file
    </script>
    <link href="/styles/dashboard.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/216730d71d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
      
        <div class="content">
            <div class="topbar">
                <a href="/">Home</a>
                <a href="/login.html">Log in</a>
                <a href="/dashboard" class="selected" style="float:right">Dashboard</a>
            </div>
        </div>  
        <div class="sidebar">
            <!-- Sidebar content goes here -->
            <a href="/dashboard/portfolios.html" class="selected">Portfolios</a>
        </div>
        <div class="bottombar">
            <!-- Bottombar content goes here -->
            <div class="social-icons">
                <a href="https://twitter.com/DevCmb"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://github.com/29cmb/Portfolious"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Cmb Productions</p>
        </div>
    </div>
</body>
</html>
