<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolious</title>
    <link href="/styles/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/216730d71d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topbar">
        <a id="Home">Home</a>
        <a id="WhyUs">Why us?</a>
    </div>
    <h1 id="Title">Portfolious</h1>
    <p>An easy-to-use portfolio creation tool</p>
    <div class="bottombar">
        <a href="https://twitter.com/DevCmb"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://github.com/29cmb/portfolio-maker"><i class="fa-brands fa-github"></i></a>
    </div>
</body>
</html>