<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolious</title>
    <link href="/styles/signup.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/216730d71d.js" crossorigin="anonymous"></script>
    <script src="/js/login.js"></script>
</head>
<body>
    <div class="topbar">
        <a id="Home" href="/">Home</a>
        <a id="Login" class="selected" href="/login.html">Log in</a>
        <a id="Signup" href="/signup.html">Sign up</a>
    </div>
    <h1 id="Title">Log in</h1>
    <form class="signupFrame" onsubmit="login(event)">
        <input type="text" placeholder="Email/Username" id="username" name="username" required>
        <br>
        <input type="password" placeholder="Password" id="password" name="password" required>
        <br>
        <input type="submit">
    </form>
    <p id="status"></p>
    
    
    <div class="bottombar">
        <div class="social-icons">
            <a href="https://twitter.com/DevCmb"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://github.com/29cmb/Portfolious"><i class="fa-brands fa-github"></i></a>
        </div>
        <p>Cmb Productions</p>
    </div>
</body>
</html>