<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolious</title>
    <link rel="stylesheet" href="/uiverseStyles/LoaderByalexruix.css">
    <link href="/uiverseStyles/SwitchByAndrwDemChenk0.css" rel="stylesheet">
    <link href="/styles/signup.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/216730d71d.js" crossorigin="anonymous"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/universal/check.js"></script>
    <script src="/js/universal/loader.js"></script>
    <script src="/js/universal/theme.js"></script>
    <script>
        function run(){
            setTimeout(async () => {
                var response = await runLoginCheck();
                if(response == true){
                    window.location.href = "/dashboard"
                } else {
                    disableLoader()
                }
            }, 1000)
            
        }
        run()
    </script>
</head>
<body>
    <div class="loader"><div class="cell d-0"></div><div class="cell d-1"></div><div class="cell d-2"></div><div class="cell d-1"></div><div class="cell d-2"></div><div class="cell d-2"></div><div class="cell d-3"></div><div class="cell d-3"></div><div class="cell d-4"></div></div>
    <div class="topbar">
        <a id="Home" href="/">Home</a>
        <a id="Login" href="/login.html">Log in</a>
    </div>
    <h1 id="Title">Sign up</h1>
    <form class="signupFrame" onsubmit="signup(event)">
        <input type="email" placeholder="Email" id="email" name="email" required>
        <br>
        <input type="text" placeholder="Username" id="username" name="username" required>
        <br>
        <div class="password-container">
            <input type="password" placeholder="Password" id="password" name="password" required>
            <i class="fa fa-eye-slash" id="togglePassword"></i>
        </div>
        <br>
        <input type="submit">
    </form>
    <p id="status"></p>
    <p id="login">Already have an account? Log in <a href="/login.html">here</a></p>
    
    
    <div class="bottombar">
        <div class="social-icons">
            <a href="https://twitter.com/DevCmb"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/29cmb/Portfolious"><i class="fa-brands fa-github"></i></a>
        </div>
        <label class="switch">
            <span class="sun"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="#ffd43b"><circle r="5" cy="12" cx="12"></circle><path d="m21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm-17 0h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm13.66-5.66a1 1 0 0 1 -.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1 -.75.29zm-12.02 12.02a1 1 0 0 1 -.71-.29 1 1 0 0 1 0-1.41l.71-.66a1 1 0 0 1 1.41 1.41l-.71.71a1 1 0 0 1 -.7.24zm6.36-14.36a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm0 17a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm-5.66-14.66a1 1 0 0 1 -.7-.29l-.71-.71a1 1 0 0 1 1.41-1.41l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.29zm12.02 12.02a1 1 0 0 1 -.7-.29l-.66-.71a1 1 0 0 1 1.36-1.36l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.24z"></path></g></svg></span>
            <span class="moon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="m223.5 32c-123.5 0-223.5 100.3-223.5 224s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4 5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6-96.9 0-175.5-78.8-175.5-176 0-65.8 36-123.1 89.3-153.3 6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"></path></svg></span>   
            <input type="checkbox" class="input">
            <span class="slider"></span>
          </label>
    </div>
</body>
<script>
document.getElementById('togglePassword').addEventListener('click', function (e) {
    const passwordInput = document.getElementById('password');
    const toggleIcon = e.target;
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleIcon.className = 'fa-solid fa-eye';
    } else {
        passwordInput.type = 'password';
        toggleIcon.className = 'fa-solid fa-eye-slash';
    }
});

document.getElementById('togglePassword').addEventListener('mouseover', function (e) {
    const toggleIcon = e.target;
    if (toggleIcon.classList.contains('fa-eye')) {
        toggleIcon.className = 'fa-solid fa-eye';
    } else {
        toggleIcon.className = 'fa-solid fa-eye-slash';
    }
});

document.getElementById('togglePassword').addEventListener('mouseout', function (e) {
    const toggleIcon = e.target;
    if (toggleIcon.classList.contains('fa-eye')) {
        toggleIcon.className = 'fa-regular fa-eye';
    } else {
        toggleIcon.className = 'fa-regular fa-eye-slash';
    }
});
</script>
<script>
    themeHandle(false);

function applyDarkTheme(particlesOnPage, firstLoad) {
    document.body.style.backgroundColor = 'rgb(31, 31, 31)';
    const p = document.querySelectorAll("p,h1,h2,h3,h4,h5,h6")
    p.forEach(element => {
        element.style.color = "#ffffff"
    });
    const formInput = document.querySelectorAll("input[type=text],input[type=password],input[type=email]")
    formInput.forEach(element => {
        element.style.backgroundColor = "#fff"
        element.style.color = "#000"
    })
    const formSubmit = document.querySelectorAll("input[type=submit]")
    formSubmit.forEach(element => {
        element.style.color = "#000"
        element.style.backgroundColor = "#fff"
    })
    const clickHereToSignUp = document.querySelectorAll("p a")
    clickHereToSignUp.forEach(element => {
        element.style.color = "#fff"
    })

    const showPw = document.getElementById('togglePassword')
    showPw.style.color = "#000"

    if(particlesOnPage){
        const canvas = document.querySelector('#container #particles canvas');
        if (canvas) {
            canvas.remove();
        }
        var time = 10

        if(firstLoad){
            time = 1200
        }

        setTimeout(() => {
            particlesJS.load('particles', '/configuration/darkThemeParticles.json', function() {
                console.log('particles.js config loaded // Dark Theme Particles Loaded');
            });
        }, time)
    }

    setCookie("theme", "dark", 365)
}

function applyLightTheme(particlesOnPage, firstLoad) {
    document.body.style.backgroundColor = '#ffffff';
    const p = document.querySelectorAll("p,h1,h2,h3,h4,h5,h6")
    p.forEach(element => {
        element.style.color = "#000"
    });
    const formInput = document.querySelectorAll("input[type=text],input[type=password],input[type=email]")
    formInput.forEach(element => {
        element.style.backgroundColor = "#4f4f4f"
        element.style.color = "#fff"
    })
    const formSubmit = document.querySelectorAll("input[type=submit]")
    formSubmit.forEach(element => {
        element.style.color = "#fff"
        element.style.backgroundColor = "#383838"
    })
    const clickHereToSignUp = document.querySelectorAll("p a")
    clickHereToSignUp.forEach(element => {
        element.style.color = "#000"
    })
    const showPw = document.getElementById('togglePassword')
    showPw.style.color = "#fff"

    if(particlesOnPage){
        const canvas = document.querySelector('#container #particles canvas');
        if (canvas) {
            canvas.remove();
        }
        var time = 10

        if(firstLoad){
            time = 1200
        }

        setTimeout(() => {
            particlesJS.load('particles', '/configuration/lightThemeParticles.json', function() {
                console.log('particles.js config loaded // Light Theme Particles Loaded');
            });
        }, time)
    }
    setCookie("theme", "light", 365)
}

function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
// snippet from w3schools
function getCookie(cname) {
    let name = cname + "=";
    let ca = document.cookie.split(';');
    for(let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
}

</script>
</html>