<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolious</title>
    <link href="/styles/signup.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/216730d71d.js" crossorigin="anonymous"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/universal/check.js"></script>
    <script>
        async function run(){
            var response = await runLoginCheck();
            if(response == true){
                window.location.href = "/dashboard"
            }
        }
        run()
    </script>
</head>
<body>
    <div class="topbar">
        <a id="Home" href="/">Home</a>
        <a id="Login" href="/login.html">Log in</a>
    </div>
    <h1 id="Title">Sign up</h1>
    <form class="signupFrame" onsubmit="signup(event)">
        <input type="email" placeholder="Email" id="email" name="email" required>
        <br>
        <input type="text" placeholder="Username" id="username" name="username" required>
        <br>
        <div class="password-container">
            <input type="password" placeholder="Password" id="password" name="password" required>
            <i class="fa fa-eye-slash" id="togglePassword"></i>
        </div>
        <br>
        <input type="submit">
    </form>
    <p id="status"></p>
    <p id="login">Already have an account? Log in <a href="/login.html">here</a></p>
    
    
    <div class="bottombar">
        <div class="social-icons">
            <a href="https://twitter.com/DevCmb"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/29cmb/Portfolious"><i class="fa-brands fa-github"></i></a>
        </div>
        <p>Cmb Productions</p>
    </div>
</body>
<script>
document.getElementById('togglePassword').addEventListener('click', function (e) {
    const passwordInput = document.getElementById('password');
    const toggleIcon = e.target;
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleIcon.className = 'fa-solid fa-eye';
    } else {
        passwordInput.type = 'password';
        toggleIcon.className = 'fa-solid fa-eye-slash';
    }
});

document.getElementById('togglePassword').addEventListener('mouseover', function (e) {
    const toggleIcon = e.target;
    if (toggleIcon.classList.contains('fa-eye')) {
        toggleIcon.className = 'fa-solid fa-eye';
    } else {
        toggleIcon.className = 'fa-solid fa-eye-slash';
    }
});

document.getElementById('togglePassword').addEventListener('mouseout', function (e) {
    const toggleIcon = e.target;
    if (toggleIcon.classList.contains('fa-eye')) {
        toggleIcon.className = 'fa-regular fa-eye';
    } else {
        toggleIcon.className = 'fa-regular fa-eye-slash';
    }
});
</script>
</html>