<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolious - 429 Error</title>
    <link href="/styles/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/216730d71d.js" crossorigin="anonymous"></script>
    <script src="/js/universal/check.js"></script>
    <script>
        async function run(){
            var response = await runLoginCheck();
            if(response == true){
                document.getElementById("login").style.display = "none";
                document.getElementById("dashboard").style.display = "block";
            }
        }

        run()
       
    </script>
</head>
<body>
    <div class="topbar">
        <a id="Home" href="/" class="selected">Home</a>
        <a id="login" href="/login.html">Log in</a>
        <a id="dashboard" style="float:right;display:none;" href="/dashboard">Dashboard</a>
    </div>
    <h1 id="Title">Rate Limited (Error 429)</h1>
    <p>You are sending requests too quickly.</p>
    <div class="bottombar">
        <div class="social-icons">
            <a href="https://twitter.com/DevCmb"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/29cmb/Portfolious"><i class="fa-brands fa-github"></i></a>
        </div>
        <p>Cmb Productions</p>
    </div>
</body>
</html>